div#testgrid * {font-size:12px !important;}

div#new2 > * {
			float:left !important;
			margin:-3px 0px;
			vertical-align:baseline;
		}

div.dateFormat {
    display: block;
    width: 100% !important;
    margin-bottom: 20px !important;
}

div.dateFormat > span {
    margin-left: 10px;
    margin-right: 20px;
}


div.dropDown {
    margin-right: 20px !important;
}


div.dropDown > select {
    margin-left: 5px;
    width: 120px;
}

div#new2 input, div#new2 select {padding: 4px;
    border-radius: 4px;
    border: 1px solid #a2a2a2 !important;
}