/** i.e, Design style sheey**/
.ie-botscrol
{
	padding-bottom:15%!important;
}
.ie-jbupdt
{
	padding-bottom:15%!important;
}

.ie-jbdes
{
	padding-bottom:15%!important;
}

.ie-scedulin
{
	padding-bottom:15%!important;
}
.ie-cretusr
{
	padding-bottom:15%!important;
}
.ie-careerpath
{
	padding-bottom:15%!important;
}
.ie-mbotemp
{
	padding-bottom:15%!important;
}
.ie-indmbotemp
{
	padding-bottom:15%!important;
}
.ie-showtemp
{
	padding-bottom:15%!important;
}

.ie-rolcomques
{
	padding-bottom:15%!important;
}

.ie-roleview
{
	padding-bottom:15%!important;
}

.ie-user
{
	padding-bottom:15%!important;
}
.ie-userview
{
	padding-bottom:15%!important;
}
.ie-rejoinus
{
	padding-bottom:15%!important;
}
.ie-norms-calc
{
	padding-bottom:15%!important;
}

.ie-schereward
{
	padding-bottom:15%!important;
}

.ie-extintshet
{
	padding-bottom:15%!important;
}

 .ie-candilist
 {
	 padding-bottom:25%!important;
 }